body {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: scroll; */
    background-attachment:fixed;
    position: center;
    overflow-x: hidden;
}